@import url(http://fonts.googleapis.com/css?family=Sanchez);

/* TAGS */
h1 {
	/* import sanchez */
	font-size: 3em;	
}

/* CLASSES */
.full {
	width: 100%;
}

/* MAIN */
.hero-unit {
	text-align: center;
}
	.hero-unit h1 {
		text-align: center;	
		font-family: "Sanchez", serif;
	}
	
	.hero-unit input[type=text] {
		font-size: 3em;
		display: inline-block;
		width: auto;
	}